@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-left {
  animation: marquee-left 30s linear infinite;
}

.calculHeader {
  width: calc(100% - 10px);
}

html {
  /* Valeur par défaut pour mobile */
  scroll-padding-top: 80px;
}

/* Ajustement pour les tablettes */
@media (min-width: 768px) {
  html {
    scroll-padding-top: 100px;
  }
}

/* Ajustement pour les grands écrans */
@media (min-width: 1024px) {
  html {
    scroll-padding-top: 120px;
  }
}